[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[core]
  pager = less -r
	excludesfile = /Users/alex/projects/dotfiles/.gitignore
[push]
  default = current
[user]
  name = Alex
  email = alexpjohnson@gmail.com
[github]
  user = alexpjohnson
[init]
	templatedir = ~/.git_template
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
